@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: rgb(87, 102, 134);
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  display: grid;
  gap: 1rem;
  place-items: center;
  align-content: center;
}
#value {
  font-weight: 500;
  font-size: 30px;
  margin: 1rem;
  text-align: center;
  color: rgb(43, 42, 42);
  transition: all 0.5s;
}
.btn {
  outline: none;
  border: 1px solid rgb(46, 43, 44);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
}
.btn:hover {
  border-color: transparent;
  background-color: rgb(46, 43, 44);
  color: white;
}
footer {
  background-color: rgb(87, 102, 134);
  color: #fff;
  padding: 10px;
  text-align: center;
}
